{% extends "rest_data/base.html" %}
{% block title %}exchange data{% endblock %}
{% block content %}

<header class="cd-header">
  <h2>Exchange Data</h2>
   <style>
       table, th, td {
    border: 1px solid black;
    width: 800px;
    height: 50px;
}
   </style>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
        <table>
            <tr>
                <th>Exchanges</th>
                <th>Buy Price</th>
                <th>Sell Price</th>
                <th>Price</th>
                <th>High</th>
                <th>Low</th>
                <th>Volume</th>
            </tr>
            <tr>
                <th>Bittrex</th>
                <td>{{bittrex.buy}}</td>
                <td>{{bittrex.sell}}</td>
                <td>{{bittrex.spot}}</td>
                <td>{{bittrex.high}}</td>
                <td>{{bittrex.low}}</td>
                <td>{{bittrex.volume}}</td>
            </tr>
            <tr>
                <th>Zebpay</th>
                <td>{{ZebPay.buy}}</td>
                <td>{{ZebPay.sell}}</td>
                <td>{{ZebPay.spot}}</td>
                <td>{{ZebPay.high}}</td>
                <td>{{ZebPay.low}}</td>
                <td>{{ZebPay.volume}}</td>
            </tr>
            <tr>
                <th>C_Cex</th>
                <td>{{c_cex.buy}}</td>
                <td>{{c_cex.sell}}</td>
                <td>{{c_cex.spot}}</td>
            </tr>
            <tr>
                <th>BitPay</th>
                <td>{{bitpay.buy}}</td>
                <td>{{bitpay.sell}}</td>
                <td>{{bitpay.spot}}</td>
            </tr>
            <tr>
                <th>CoinBase</th>
                <td>{{coinbase.buy}}</td>
                <td>{{coinbase.sell}}</td>
                <td>{{coinbase.spot}}</td>
            </tr>

        </table>
    </div>
  </div>
</div>


{% endblock %}
